.mainFeed {
    margin-top: 18px;
    max-width: 590px;
    flex-grow: 1;
}

.descriptionBlock {
    display: flex;

    padding: 20px;
    width: 1000px;

    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

.profileImage {
    width: 380px;
    margin-right: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.description {
    display: flex;
    flex-direction: column;

    color: #595959;
    line-height: 22px;
    font-size: 14px;

    margin-left: 15px;
}

.descriptionTextName {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

b {
    margin-right: 10px;
}

.descriptionTextContacts {
    margin-left: 70px;
}

.status {
    font-style: italic;
    font-weight: normal;
}

.statusInput {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}