.form {

}
.error input,
.error textarea {
    border: 2px solid crimson;
}

.error span {
    color: crimson;
}

.form_summary_error {
    border: 1px solid crimson;
    padding: 5px;
    color: #9ed112;
}