span{
    font-family: sans-serif;

}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.menuSidebar {
    margin-top: 18px;
    width: 190px;
    margin-right: 12px;
}
.user {
    display: flex;
    align-items: center;
}

.userAvatar {
    margin-right: 8px;
}


.menuSidebar .user {
    padding-left: 10px;
}

.menuSidebar .userAvatar {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.menuSidebar .userName {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.navGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.navLink {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    line-height: 22px;
    font-size: 14px;
}

.active {
    background: #fff;
    color: #262626;
}

.navText {
    margin-left: 8px;
}
.navIcon {
    color: #9ED112FF;
}


