* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background: #f5f5f5;
    padding-top: 46px;
}

button {
    outline: none;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}